.map-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.serverInfo {
  padding: 0;
  margin: 0;
  color: #888;
  list-style: none;
}

.searchForm {
  width: 300px;
  height: 300px;
  background: black;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 999999;
}
