.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-wrapper {
  height: 85%;
  width: 100%;
}

.map-wrapper .map {
  height: 100%;
}

.serverInfo {
  padding: 0;
  margin: 0;
  color: #888;
  list-style: none;
}
.searchForm {
  background: #2b2b2b;
  height: 15%;
  padding: 0;
  overflow: hidden;
}

