<md-content class="searchForm" layout="row" ng-controller="SearchFormCtrl">
  <div class="logo" layout-margin flex="14" layout="row" layout-align="start center">
    <img src="assets/images/logo.svg" width="20px" height="20px" alt="HostSpot" />
    <h1 layout-padding>HostSpot</h1>
  </div>

  <div layout-margin flex layout="row" layout-align="end center">
    <form ng-submit="submitForm()" layout="row">
      <md-input-container class="md-block" md-no-float>
        <input ng-model="address" placeholder="type a host address" />
      </md-input-container>
    </form>
    <md-button class="md-raised md-primary" ng-disabled="false" ng-click="submitForm()">locate</md-button>
    <md-switch ng-model="personalLocation" ng-change="userLocationChange()" class="md-primary">
        Your location
    </md-switch>
  </div>
</md-content>
